@import url("../fonts/stylesheet.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button {
    cursor: pointer;
}

section {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background: #fff;
    font-family: 'Gilroy';
}

header {
    background: #fff;
}

.pc_header {
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    transition: top 0.3s;
}

.sticky {
    position: fixed;
    top: 0;
}

.pc_header.show {
    top: 0;
    opacity: 1;
    transition: top 0.3s, opacity 0.3s ease-in-out;
}

.pc_header.show.sticky {
    opacity: 0.9;
}

header a,
.pre_nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #002340;
    text-align: center;
}

.header_links a {
    margin-right: 20px;
}

.soc_links {
    display: flex;
}

.soc_links a {
    margin-right: 10px;
}

.call_btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    padding: 8px 20px;
    background: #F05638;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.pre_nav {
    background: #3AACF2;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.5px 0;
}

.pre_nav a {
    display: flex;
    align-items: center;
    color: #fff;
}

.pre_nav a img {
    margin-right: 10px;
}

.pre_nav a:nth-child(2) {
    margin: 0 30px;
}

h1 {
    font-weight: 600;
    font-size: 41.7533px;
    line-height: 110%;
    color: #002340;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #002340;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #002340;
}

h5 {
    font-weight: 500;
    font-size: 23px;
    line-height: 130%;
    color: #002340;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #334F66;
}

.p {
    font-weight: 400;
    font-size: 20.8766px;
    line-height: 130%;
    text-transform: lowercase;
    color: #002340;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 55px 0 60px 100px;
}

.about_content h1 {
    max-width: 670px;
    margin: 20px 0;
}

.about_content .p {
    max-width: 600px;
}

.about_box_abs {
    position: relative;
    margin: 85px 0 30px;
}

.about_box_qest {
    position: absolute;
    background: #FFFFFF;
    border: 2px solid #F05638;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 38px 48px;
    min-width: 696px;
    z-index: 10;
}

.about_box_qest_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_box_qest_title .free {
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    color: #70CA53;
    position: relative;
}

.about_box_qest_title .free::before {
    content: ' ';
    display: block;
    background: #70CA53;
    border-radius: 3px;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -2px;
}

.about_box_qest p {
    margin: 10px 0 20px;
}

.about_box_qest .down_pdf_btn {
    background: #F05638;
    /* Orng 900 */
    border: 1px solid #F05638;
    border-radius: 8px;
    padding: 10px 20px 10px 10px;
    color: #FFFFFF;
    line-height: 170%;
    display: inline-flex;
    align-items: center;
}

.about_box_qest .down_pdf_btn img {
    margin-right: 10px;
}

.green_btn {
    display: flex;
    align-items: center;
    padding: 40px 36px 37px 30px;
    background: linear-gradient(180deg, #70C953 0%, #6CCC4D 100%);
    border-radius: 16px;
    position: relative;
    max-width: 488px;
}

.green_btn .green_btn_cont,
img {
    position: relative;
    z-index: 9999;
}

.green_btn::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background-image: url(../img/bg/green_btn.png);
}

.green_btn .green_btn_cont {
    max-width: 337px;
}

.green_btn .green_btn_cont h2,
.green_btn .green_btn_cont p {
    color: #FFFFFF;
    line-height: 110%;
}

.green_btn .green_btn_cont p {
    margin-top: 4px;
    line-height: 170%;
}

.about_img {
    border-radius: 16px 0px 0px 16px;
    width: 657px;
    height: 827px;
    position: relative;
    z-index: 3;
}

.about_box_content {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_box {
    width: 285px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(2, 96, 174, 0.15);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 26px 0 38px;
    text-align: center;
}

.blue_h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 170%;
    /* identical to box height, or 94px */
    text-transform: capitalize;
    /* blues 900 */
    color: #3AACF2;
}

.about_box p {
    text-transform: lowercase;
    font-size: 16px;
    color: #1A3953;
}

.news {
    padding: 66px 0 0 0;
}

.title {
    padding: 0 100px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper {
    background-image: url(../img/bg/news.png);
    background-repeat: no-repeat;
    background-position: right center;
    height: 500px;
    margin-top: 30px;
}

.news_swiper {
    display: flex !important;
    align-items: center;
}

.news_swiper img {
    border-radius: 0 16px 16px 0;
}

.news_content {
    margin-left: 50px;
}

.news_content .data {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    /* Orng 900 */
    color: #F05638;
    display: flex;
    align-items: center;
}

.news_content .data::before {
    content: ' ';
    display: block;
    width: 72px;
    height: 2px;
    background: #F05638;
    margin-right: 24px;
}

.news_content h2 {
    margin: 27px 0;
}

.news_content p {
    color: #1A3953;
}

.swiper_btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F05638;
    border-radius: 60px;
    left: 0;
    right: 0;
}

.swiper-button-prev {
    left: -72px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    /* Neutral/03 */
    border: 2px solid #E1E2E2;
}

.swiper-button-disabled .news_svg path {
    fill: #F05638;
}

.news_svg_prev {
    transform: rotate(180deg);
}

.tabs_about {
    padding: 120px 100px 10px 0;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tab_flex {
    display: flex;
    align-items: flex-start;
}

.tab {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 100px;
}

.tablinks {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 110%;
    color: #002340;
    background: none;
    margin-right: 50px;
    cursor: pointer;
    height: 42px;
    border-bottom: 5px solid transparent;
}

.tablinks.active {
    border-bottom: 5px solid #3AACF2;
    font-weight: 600;
    font-size: 30px;
}

.tablinks img {
    margin-right: 10px;
}

.tab_content {
    margin-left: 36px;
}

.tab_content p {
    color: #002340;
    font-style: normal;
    margin-top: 15px;
}

.tab_content p a {
    color: #3AACF2;
    font-size: 18px;
}

.tab_content p b {
    font-weight: 500;
}

.consult {
    padding: 120px 100px 125px;
}

.consult_content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.consult_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.consult_flex:nth-child(2) {
    margin-top: 20px;
}

.consult_box {
    width: 385px;
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(2, 96, 174, 0.15);
    border-radius: 16px;
    padding: 22px;
}

.consult_box h3 {
    margin: 22px 0 11px;
}

.green_box {
    background-image: url(../img/bg/green_box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.green_box h3,
.green_box p {
    color: #fff;
}

.green_box h3 {
    margin-bottom: 0;
}

.method {
    padding: 73px 0 73px 100px;
    background-image: url(../img/bg/method.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.method_img {
    border-radius: 16px 0 0 16px;
    width: 100%;
    max-width: 747px;
    min-width: 380px;
}

.method_content {
    min-width: 500px;
    max-width: 500px;
    margin-right: 50px;
}

.method h2 {
    margin-bottom: 50px;
}

.method h2,
.method p {
    color: #fff;
}

#result {
    padding: 0 30px;
}

.result {
    background-image: url(../img/bg/blue.png);
    background-repeat: no-repeat;
    background-size: 100% 289px;
    background-position: top;
    margin-top: 50px;
    padding: 44px;
}

.result h2 {
    text-align: center;
    max-width: 821px;
    margin: 0 auto;
    margin-bottom: 44px;
    color: #fff;
}

.result_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result_box {
    width: 285px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(2, 96, 174, 0.2);
    border-radius: 16px;
    text-align: center;
    margin: 0 10px 20px;
    padding: 20px;
}

.result_box p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

#helping {
    background-image: url(../img/bg/helping.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.helping {
    padding: 130px 100px;
}

.helping_flex {
    margin-top: 50px;
    display: flex;
}

.reviews {
    padding: 30px 100px 0;
}

.helping_box {
    max-width: 537px;
}

.helping_box:nth-child(1) {
    margin-right: 83px;
}

.helping_box p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.helping_box p::before {
    content: url(../img/icon/like.svg);
    display: block;
    margin-right: 16px;
    height: 24px;
}

.faq {
    padding: 0 130px 0 100px;
}

.faq_span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    text-transform: uppercase;
    color: #4D657A;
}

.faq_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.faq_title .warning {
    width: 428px;
}

.ac {
    border: none;
    outline: none;
    border-bottom: 1px solid #002340;
    padding-bottom: 34px;
    margin-bottom: 35px;
}

.ac .ac-trigger::after {
    content: url(../img/icon/arrow_bottom.svg);
    height: 35px;
    width: 29px;
    transition: all 0.3s ease-in-out;
}

.ac.is-active>.ac-header .ac-trigger::after {
    content: url(../img/icon/arrow_bottom_orange.svg);
}

.num_faq {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: #F05638;
    margin-right: 13px;
}

.ac-header button {
    display: flex !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 110% !important;
    color: #002340 !important;
}

.ac-panel {
    padding: 0 48px 0 44px;
}

.ac-panel p {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 140% !important;
    /* or 25px */
    /* Blck 900 */
    color: #002340 !important;
}

#price {
    background-image: url(../img/bg/price.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.price {
    padding: 100px 185px 72px;
}

.price_title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.price_flex {
    display: flex;
    justify-content: center;
}

.price_box {
    width: 327px;
    background: #F7FBFE;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 41px 48px -28px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 34px 20px 24px;
    margin: 0 15px 30px 15px;
}

.price_box h6 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #002340;
    margin-bottom: 31px;
}

.price_box h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #3AACF2;
}

.price_box .green {
    color: #70C953;
}

.price_box p {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #4D657A;
    margin-top: 21px;
}

.price_box p:nth-child(1) {
    margin-top: 0;
}

.price_box h6 span {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #3AACF2;
    margin: 5px 0;
}

.green_btn_two {
    background-image: url(../img/bg/green.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1040px;
    max-width: unset;
    margin: 0 auto;
    margin-top: 42px;
    justify-content: space-between;
    margin-bottom: 70px;
}

.green_btn_two::after {
    content: unset;
}

.green_btn_two .green_btn_cont {
    max-width: 586px;
}

.green_btn_two .green_btn_cont h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
}

.price_flex_two .price_box {
    text-align: center;
}

.price_flex_two .price_box h4 {
    color: #0260AE;
}

.price_flex_two .price_box h4 span {
    font-size: 16px;
}

.price_flex_two .price_box h6 {
    margin-bottom: 63.5px;
}

.price_flex_two .price_box:nth-child(3) h6 {
    margin-bottom: 5px;
}

.price_p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    text-align: center;
    /* Blck 600 */
    color: #4D657A;
    margin-bottom: 15px;
}

.price_title_two {
    margin-top: 80px;
    margin-bottom: 20px;
}

.price_title_two p {
    margin: 20px 0 30px;
}

.price_box_two {
    margin: 0 5px 11px 5px;
    width: 339px;
    padding: 34px 5px 24px 20px;
    display: flex;
    flex-direction: column;
}

.price_box_two h6 {
    text-align: start;
    margin-bottom: 3px;
}

.price_box_two .price_p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #002340;
    text-align: start;
    margin: 0;
}

.price_box_two .price_p a {
    color: #3AACF2;
}

.bottom_cont {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.price_flex_dic {
    flex-direction: column;
    justify-content: space-between;
}

.price_flex_dic .price_box_two {
    height: 50%;
}

.price_p_mb15 {
    margin-bottom: 15px !important;
}

#document {
    position: relative;
}

.document_title {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    padding: 0 100px;
}

.myDocument .swiper-slide,
.myAwards .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E1E2E2;
    box-shadow: 0px 40px 48px -28px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    width: 319px;
    height: 319px;
}

.myDocument .swiper-wrapper,
.myAwards .swiper-wrapper {
    align-items: center;
}

.myDocument .swiper-slide-active,
.myAwards .swiper-slide-active {
    width: 387px;
    height: 388px;
}

.myDocument .swiper-slide-next,
.myDocument .swiper-slide-prev,
.myAwards .swiper-slide-next,
.myAwards .swiper-slide-prev {
    width: 356px;
    height: 356px;
}

.myDocument,
.myAwards {
    height: 600px;
    padding: 50px 0 130px 0;
}

.myDocument .swiper-slide img,
.myAwards .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px
}

.swiper_btn_two {
    top: 64px;
    right: 130px;
    bottom: unset;
    position: absolute;
    z-index: 999;
}

.bacgr {
    background-image: url(../img/bg/backgr.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1400px;
    margin: 0 auto;
}

.reviews_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.warning {
    width: 290px;
    height: 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 144%;
    color: #F05638;
}

.reviews_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 122px 100px 54px;
}

.cont_nav {
    display: flex;
}

.cont_nav div {
    display: flex;
    flex-direction: column;
}

.cont_nav div a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17.1425px;
    line-height: 24px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    /* Blck 600 */
    color: #4D657A;
}

.cont_nav div a img {
    margin-right: 9.8px;
}

.pre_nav_box {
    width: 336px;
    margin-right: 33px;
}

.pre_nav_box a:nth-child(2) {
    margin-top: 20px;
}

.soc_nav_box {
    width: 168px;
}

.soc_nav_box:nth-child(3) {
    margin: 0 47px 0 15px;
}

.soc_nav_box a:nth-child(2) {
    margin-top: 24px;
}

.tel_nav_box {
    width: 202px;
}

.tel_nav {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 122% !important;
    letter-spacing: -0.02em !important;
    color: #002340 !important;
}

.tel_nav_box .call_btn {
    padding: 5px 24px;
    margin-top: 16px;
}

.map iframe {
    height: 500px;
    width: 100%;
}

footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 100px 47px 100px;
    display: flex;
    justify-content: space-between;
}

.info_block h2 {
    font-size: 42px;
}

.info_block h5 {
    font-weight: 400;
    font-size: 20.8766px;
    line-height: 130%;
    /* or 27px */
    text-transform: lowercase;
    /* Blck 700 */
    color: #334F66;
    margin: 10px 0;
}

.info_block p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    /* Blck 600 */
    color: #4D657A;
    margin-bottom: 3px;
}

.info_link_flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info_link_flex a {
    color: #3AACF2;
    margin-right: 10px;
}

.polit {
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #3AACF2;
}

.sections_block {
    width: 100%;
    max-width: 294px;
}

.footer {
    display: flex;
}

.sections_block h4 {
    font-weight: 800;
    font-size: 12px;
    line-height: 200%;
    /* identical to box height, or 200% */
    letter-spacing: 0.17em;
    text-transform: uppercase;
    /* Blck 900 */
    color: #002340;
    margin-bottom: 32px;
}

.sect_flex {
    min-width: 137px;
}

.sect_links {
    display: flex;
}

.sect_flex a {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    /* Blck 600 */
    color: #4D657A;
    margin-bottom: 22px;
}

.contact_footer a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.02em;
    /* Blck 600 */
    color: #4D657A;
    margin-bottom: 22px;
}

.contact_footer a img {
    margin-right: 8px;
}

.sections_block:nth-child(3) {
    margin-left: 20px;
    max-width: 137px;
}

.sections_block2 {
    width: 300px !important;
    max-width: unset;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 35, 64, 0.6);
    display: none;
    z-index: 99999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg/modal.png);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    box-shadow: 0px 0px 20px rgba(2, 96, 174, 0.15);
    border-radius: 16px;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    max-width: 355px;
}

.modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    cursor: pointer;
}

.modal-checkbox {
    color: #3AACF2;
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    /* or 20px */
    color: #3AACF2;
    margin-bottom: 32px;
}

body.modal-open {
    overflow: hidden;
}

.modal-content form input::placeholder {
    color: rgba(0, 35, 64, 0.2);
}

.modal-content form input[type="text"] {
    background: rgba(0, 35, 64, 0.05);
    border: 1px solid #3AACF2;
    border-radius: 8px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(0, 35, 64);
    padding: 16px 21px;
    margin-bottom: 15px;
}

.modal-content form input:focus {
    background: #fff;
}

.modal-content form input[type="checkbox"] {
    margin-right: 5px;
}

.modal-button {
    background: #0260AE;
    border-radius: 8px;
    padding: 8px 20px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    text-align: center;
    color: #FFFFFF;
}


/* --------------- */


/* The Modal (background) */

.modal_img {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Sit on top */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    z-index: 99999;
    justify-content: center;
    align-items: center;
}


/* Modal Content (image) */

.modal-content_img {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77%;
    width: 100% !important;
}


/* Add Animation */

#modal_img_content {
    width: 100%;
    z-index: 9999;
}

.modal_img_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#modal_img_content {
    min-height: 60vh;
    width: 64%;
    max-height: 95vh;
}

.def {
    padding-left: 15px;
}


/* The Close Button */

.modal_img_close {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal_img_close:hover,
.modal_img_close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

.about_img_ipad {
    display: none;
    border-radius: 16px 0px 0px 16px;
    position: relative;
    z-index: 3;
}

.soc_nav_box_content {
    display: flex;
    flex-direction: unset !important;
    margin-right: 40px;
}

.green_content,
.about_img_mob {
    display: none;
}

.myDocument .swiper-slide {
    padding: 10px;
}

.tab_flex img {
    border-radius: 0 16px 16px 0;
}

.fot_none {
    display: none;
}

.defis {
    margin-right: 10px;
}

#news {
    max-width: unset;
}

#method {
    max-width: unset;
}

.tab_content {
    max-height: 630px;
    overflow-y: auto;
}

.modal_img_prev,
.modal_img_next {
    width: auto;
    padding: 40px 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_img_next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.modal_img_prev:hover,
.modal_img_next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_img_prev {
    margin-right: 50px;
    border-radius: 8px 0 0 8px;
}

.modal_img_next {
    margin-left: 50px;
    border-radius: 0 8px 8px 0;
}