<!DOCTYPE html>
<html lang="ru">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алексей Кравченко</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>

<body>
    <div id="modal_img" class="modal_img">
        <div class="modal_img_content">

            <button class="modal_img_prev" onclick="prevImage()">&#10094;</button>
            <img id="modal_img_content" src="" alt="">
            <button class="modal_img_next" onclick="nextImage()">&#10095;</button>
        </div>
        <span class="modal_img_close" onclick="closeModal()">&times;</span>
    </div>
    <div class="modal">
        <div class="modal-content">

            <span class="modal-close"><img src="{% static 'img/icon/close.svg' %}" alt=""></span>
            <h1>Заполните форму</h1>
            <p>Мы свяжемся с вами в ближайшее время</p>
            <form>

                <input type="text" placeholder="Имя" />

                <input type="text" placeholder="Ваш номер телефона" />

                <label class="modal-checkbox"><input type="checkbox" checked /> <span>Я согласен(-а) с политикой конфиденциальности</span></label>

                <button class="modal-button">Заказать звонок</button>

            </form>

        </div>
    </div>

    <header>
        <div class="pc_header">
            <div class="header_links">
                <a href="#tab_about">Обо мне</a>
                <a href="#news">Новости</a>
                <a href="#method">Методы работы</a>
                <a href="#price">Услуги и цены</a>
                <a href="#document">Документы</a>
                <a href="#awards">Награды</a>
                <a href="#reviews">Отзывы</a>
                <a href="#contact">Контакты</a>
            </div>
            <div class="soc_links">
                <a href="https://wa.me/79263421041"><img src="{% static 'img/icon/whatsapp.svg' %}" alt="Ватсапп"></a>
                <a href="https://t.me/+79263421041"><img src="{% static 'img/icon/telegram.svg' %}" alt="Телеграм"></a>
                <a href="https://vk.com/akravchenkoru"><img src="{% static 'img/icon/vk.svg' %}" alt="ВКонтакте"></a>
                <a href="https://ok.ru/profile/579553265930"><img src="{% static 'img/icon/ok.svg' %}" alt="Одноклассники"></a>
            </div>
            <button class="call_btn openModal">Заказать звонок</button>
        </div>
    </header>
    <div class="pre_nav">
        <a href="https://yandex.ru/maps/-/CCUWyWc3hB"><img src="{% static 'img/icon/loc.svg' %}" alt="Адрес">ул. Цветной бульвар, д.19, с.4, каб. 209</a>
        <a href="mail:kravchenko-aleksey@yandex.ru"><img src="{% static 'img/icon/mail.svg' %}" alt="Почта">kravchenko-aleksey@yandex.ru</a>
        <a href="tel:+79263421041"><img src="{% static 'img/icon/tel.svg' %}" alt="Телефон"> +7 (926) 342-10-41</a>
    </div>

    <section id="about">
        <div class="about">
            <div class="about_content">
                <h1>Алексей Кравченко: Увидеть возможности, понять скрытые мотивы, изменить ситуацию</h1>
                <p class="p">Психолог высшей квалификационной категории с 15-летним опытом работы в области специальной психологии.</p>
                <img class="about_img_mob" src="{% static 'img/about_mob.png' %}" alt="">
                <div class="about_box_abs">
                    <div class="about_box_qest">
                        <div class="about_box_qest_title">
                            <h3>Получите профессиональные опросники</h3>
                            <span class="free">Бесплатно</span>
                        </div>
                        <p>Для самостоятельного исследования уровня тревожности, депрессии и нейротизма. Результаты пригодятся на первой консультации, а также для отслеживания динамики состояния в процессе работы.</p>
                        <a href="" class="down_pdf_btn"><img src="{% static 'img/icon/doc.svg' %}" alt="Получить PDF">Получить PDF</a>
                    </div>
                </div>
                <a href="https://psycabinet.ru/" class="green_btn green_btn_mob">
                    <div class="green_btn_cont">
                        <h2>Услуги для детей и подростков</h2>
                        <p>Спецпроект для родителей</p>
                    </div>
                    <img src="{% static 'img/icon/arrow-right.svg' %}" alt="Стрелка">
                </a>
            </div>
            <img class="about_img" src="{% static 'img/about.jpg' %}" alt="Обо мне">
            <img class="about_img_ipad" src="{% static 'img/about.png' %}" alt="Обо мне">
        </div>
        <div class="green_content">
            <a href="https://psycabinet.ru/" class="green_btn green_btn_pc">
                <div class="green_btn_cont">
                    <h2>Услуги для детей и подростков</h2>
                    <p>Спецпроект для родителей</p>
                </div>
                <img src="{% static 'img/icon/arrow-right.svg' %}" alt="Стрелка">
            </a>
        </div>
        <div class="about_box_content">
            <div class="about_box">
                <span class="blue_h1">3100+</span>
                <p>клиентов, довольных<br> достигнутым результатом</p>
            </div>
            <div class="about_box">
                <span class="blue_h1">9628</span>
                <p>Академических часов<br> профессиональной подготовки</p>
            </div>
            <div class="about_box">
                <span class="blue_h1">15+</span>
                <p>Лет опыта<br> работы</p>
            </div>
            <div class="about_box">
                <span class="blue_h1">100%</span>
                <p>Анонимность<br>обращения</p>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="news">
            <div class="title">
                <h2>Новости</h2>
            </div>
            <div style="--swiper-navigation-color: #000;" class="swiper mySwiper">

                <div class="swiper-wrapper">
                    {% for image in images %}
                    <div class="swiper-slide news_swiper">
                        <img src="{{image.image.url}}" alt="">

                        <div class="news_content">
                            <div class="data">{{image.date}}</div>
                            <h2>{{image.subject}}</h2>
                            <p>{{image.text}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper_btn">


                    <div class="swiper-button-prev"><svg class="news_svg news_svg_prev" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2929 13.7929C9.9024 14.1834 9.9024 14.8166 10.2929 15.2071C10.6834 15.5976 11.3166 15.5976 11.7071 15.2071L17.5 9.4142C18.281 8.6332 18.281 7.3668 17.5 6.5858L11.7071 0.79289C11.3166 0.40237 10.6834 0.40237 10.2929 0.79289C9.9024 1.18342 9.9024 1.81658 10.2929 2.20711L15.0858 7H1C0.44772 7 0 7.4477 0 8C0 8.5523 0.44772 9 1 9H15.0858L10.2929 13.7929Z" fill="#F7FBFA"/>
                            </svg></div>
                    <div class="swiper-button-next"><svg class="news_svg" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2929 13.7929C9.9024 14.1834 9.9024 14.8166 10.2929 15.2071C10.6834 15.5976 11.3166 15.5976 11.7071 15.2071L17.5 9.4142C18.281 8.6332 18.281 7.3668 17.5 6.5858L11.7071 0.79289C11.3166 0.40237 10.6834 0.40237 10.2929 0.79289C9.9024 1.18342 9.9024 1.81658 10.2929 2.20711L15.0858 7H1C0.44772 7 0 7.4477 0 8C0 8.5523 0.44772 9 1 9H15.0858L10.2929 13.7929Z" fill="#F7FBFA"/>
                                </svg></div>

                </div>
            </div>
        </div>
    </section>
    <section id="tab_about">
        <div class="tabs_about">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'Tab1')"><img src="{% static 'img/icon/doctor.svg' %}" alt=""> Обо мне</button>
                <button class="tablinks" onclick="openTab(event, 'Tab2')"><img src="{% static 'img/icon/traced.svg' %}" alt=""> Образование</button>
                <button class="tablinks" onclick="openTab(event, 'Tab3')"><img src="{% static 'img/icon/certificate.svg' %}" alt=""> Профессиональная компетентность</button>
            </div>

            <div id="Tab1" class="tabcontent">
                <div class="tab_flex">
                    <img src="{% static 'img/about_tab1.jpg' %}" alt="Обо мне">
                    <div class="tab_content">
                        <h5>Дорогие друзья! Приветствую вас. Меня зовут Алексей Александрович. </h5>
                        <p>
                            <b>Я клинический психолог.</b> Женат. Есть замечательный сынок. Раз вы попали на эту страницу, вероятно, есть вопросы или жизненные ситуации, которые сильно тревожат. <br><br> Я очень рад, что вы задумались о посещении специалиста
                            моего профиля, так как открыто обсудить проблему означает сделать реальный, подчеркну, реальный шаг к ее решению.<br><br>
                            <b>Со мной можно говорить обо всем.</b> Как есть. Без стеснения. О любви, здоровье, сексе, деньгах, фантазиях, страхах, обидах. Вообще о любых чувствах и переживаниях. <br><br>
                            <b>Трудно говорить?</b><br><br> Всё нормально. Я сам задам ключевые вопросы и даже предложу пройти интересные психологические исследования. Исходя из всего объема информации, которая станет доступна на моих консультациях, вы
                            сами примете верные решения и сделаете конкретные шаги для их осуществления.<br><br>
                            <b>Я стараюсь воздерживаться от советов</b>, но, если потребуется мое профессиональное мнение, вы его тоже услышите. Выбор в любом случае останется за вами. Психолог – это просто и приятно. Это классно. Попробуйте! Наберитесь
                            смелости и позвоните.<br><br> Ниже вы сможете найти подробную информацию о моем образовании, наградах, опыте работы, используемых методах и профессиональных навыках. Если у вас есть вопросы, связанные с детьми или подростками,
                            то рекомендую познакомиться с описанием услуг на специальной странице для родителей, на которую можно попасть, кликнув по <a href="">этой ссылке</a>.

                        </p>
                    </div>
                </div>
            </div>

            <div id="Tab2" class="tabcontent">
                <div class="tab_flex">
                    <img src="{% static 'img/about_tab1.jpg' %}" alt="Обо мне">
                    <div class="tab_content">
                        <p>
                            <br><b>2017</b> Диплом об окончании аспирантуры 37.06.01 “Психологические науки”, Московский городской педагогический университет, г. Москва
                            <br><br><b>2014</b> Диплом о профессиональной переподготовке “Клиническая психология”, Московский городской психолого-педагогический университет, г. Москва
                            <br><br><b>2010</b> Диплом о профессиональной переподготовке “Социология и психология”, Государственная академия профессиональной переподготовки и повышения квалификации руководящих работников и специалистов инвестиционной
                            сферы, г. Москва
                            <br><br><b>2009</b> Президентская программа, Диплом о профессиональной переподготовке “Менеджмент в бизнесе”, Международный институт менеджмента ЛИНК, г. Жуковский
                        </p>
                        <h5 style="margin-top: 20px;">Курсы повышения квалификации</h5>
                        <p><b>2022</b> “Стратегии психотерапевтической помощи пациентам с невротическими расстройствами”, Институт дополнительного профессионального образования, г. Санкт-Петербург “Психологическая экспертиза детско-родительских отношений”,
                            Московский государственный психолого-педагогический университет, г. Москва “Система ранней помощи. Диагностика и коррекция развития у детей младенческого и раннего возраста”, Международная академия дополнительного образования,
                            г. Москва
                            <br><br><b>2021</b> “Речь и другие когнитивные функции с позиции прикладной нейропсихологии: структура, мозговые механизмы, нарушения, диагностика, коррекция”, Высшая школа дополнительного образования, г. Москва “Tutor in tale
                            therapy, Secrets of Tale therapy”, European Psychological Centre, Salzburg, Austria “Возрастные особенности мозговой организации деятельности в онтогенезе и дизонтогенезе”, Институт повышения квалификации и переподготовки Дефектология
                            ПРОФ, г. Москва “Функциональная асимметрия мозга. Проблема леворукости. Как это использовать в интересах ребенка”, Институт практической психологии «Иматон», г. Санкт-Петербург “Управление гневом. Практика коррекционной работы
                            с лицами, проявляющими деструктивно-агрессивное (насильственное) поведение в близких отношениях”, Институт практической психологии «Иматон», г. Санкт-Петербург
                            <br><br><b>2020</b> “Психология индивидуальности. Искусство психодиагностики”, Институт прикладной психологии, г. Москва “Когнитивно-поведенческая терапия расстройств пищевого поведения”, Московский государственный университет
                            им. М.В. Ломоносова, г. Москва
                            <br><br><b> 2019</b> “Семейная психотерапия”, Московский государственный университет им. М.В. Ломоносова, г. Москва “Диагностика и психотерапия детей с аутизмом и аффективными нарушениями”, Московский государственный университет
                            им. М.В. Ломоносова, г. Москва
                            <br><br><b> 2018</b> “Сексология для психологов”, Московский институт психоанализа, г. Москва “Детская нейропсихология: методы диагностики и коррекции”, Московский государственный университет им. М.В. Ломоносова
                            <br><br><b>2013</b> “Формирование ключевых компетентностей руководителя и педагога образовательного учреждения”, Научно-методический центр ЮВОУО, г. Москва
                            <br><br><b>2010</b> “Психологические основы конфликтов в ОУ и личностно-ориентированный подход в консультировании”, Московский институт открытого образования, г. Москва
                            <br><br><b>2009</b> “Психологическое сопровождение реализации деятельностного метода обучения”, Академия повышения квалификации и профессиональной переподготовки, г. Москва
                            <br><br><b>2003</b> “Консультант по психологическим вопросам в школе”, Московский государственный областной университет, г. Москва
                        </p>
                    </div>
                </div>
            </div>

            <div id="Tab3" class="tabcontent">
                <div class="tab_flex">
                    <img src="{% static 'img/about_tab1.jpg' %}" alt="Обо мне">
                    <div class="tab_content">
                        <p>
                            <b>Личный психолог – это доверенное лицо.</b> Это тот специалист, с которым можно обсудить всё, даже то, о чем страшно подумать, оставаясь наедине с самим собой. Если психолог обладает достаточной квалификацией, то он всегда
                            поймет чувства клиента, отнесется к ситуации безоценочно, а прием пройдет легко и результативно. Мою профессиональную компетентность подтверждают:
                            <div class="def">
                                <p> <br> <span class="defis"> - </span> многолетний практический опыт в области частного психологического консультирования;
                                    <br> <span class="defis"> - </span> подготовка в аспирантуре МГПУ по направлению 37.06.01 «Психологические науки» с общей подготовкой в области психологии на 9628 ак. часов;
                                    <br> <span class="defis"> - </span> владение классическими подходами, современными приемами и техниками, психодиагностическими инструментами;
                                    <br> <span class="defis"> - </span> лауреат и член жюри престижного профессионального конкурса «Психолог года»;
                                    <br> <span class="defis"> - </span> автор обучающих программ для педагогов-психологов;
                                    <br> <span class="defis"> - </span> автор нескольких научных исследований и статей по вопросам детской, семейной и когнитивной психологии;
                                    <br> <span class="defis"> - </span> психолог высшей квалификационной категории;
                                    <br> <span class="defis"> - </span> психолог высшей квалификационной категории;<br><br> Гарантией успеха психологического консультирования служат прозрачные и четкие критерии. Они позволяют отслеживать эффективность
                                    как разовой встречи, так и каждого этапа работы. </p>

                            </div>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="consult">
        <div class="consult">
            <h2>Уже на первой консультации<br> вы получаете: </h2>
            <div class="consult_content">

                <div class="consult_flex">
                    <div class="consult_box">
                        <img src="{% static 'img/icon/consult_1.svg' %}" alt="">
                        <h3>Анализ ситуации</h3>
                        <p>С предварительной гипотезой и<br> конкретными рекомендациями.</p>
                    </div>
                    <div class="consult_box">
                        <img src="{% static 'img/icon/consult_2.svg' %}" alt="">
                        <h3>План работы</h3>
                        <p>Пошаговый план работы, когда<br> достижение запроса требует времени.</p>
                    </div>
                    <div class="consult_box">
                        <img src="{% static 'img/icon/consult_3.svg' %}" alt="">
                        <h3>Примерные сроки и прогноз</h3>
                        <p>По дальнейшему развитию <br>ситуации.</p>
                    </div>
                </div>
                <div class="consult_flex">
                    <div class="consult_box">
                        <img src="{% static 'img/icon/consult_4.svg' %}" alt="">
                        <h3>Внимание и забота</h3>
                        <p>Психологическая поддержка <br>на каждом этапе.</p>
                    </div>
                    <div class="consult_box">
                        <img src="{% static 'img/icon/consult_5.svg' %}" alt="">
                        <h3>Понимание</h3>
                        <p>Скрытых механизмов <br>и мотивов.</p>
                    </div>
                    <div class="consult_box green_box">
                        <img src="{% static 'img/icon/consult_6.svg' %}" alt="">
                        <h3>Комплексная диагностика</h3>
                        <p>Возможность пройти комплексное<br> психологическое исследование<br> с подробным обсуждением<br> результатов на последующих <br>визитах.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="method">
        <div class="method">
            <div class="method_content">
                <h2>Методы работы</h2>
                <p>
                    В работе используются инструменты психодинамического и гуманистического направления, приемы когнитивно-поведенческой психотерапии и системной семейной психологии.<br><br> Все методы имеют научно доказанную эффективность<br> и приносят
                    отличные результаты, когда дополняют друг друга. <br><br> Такой мультимодальный подход может быть краткосрочным (1–10 консультаций) и долгосрочным <br> (до 3 лет). В его основе лежат знания о том, как устроена психика, личность, мышление,
                    эмоции, поведение, нервная система и головной мозг человека.<br><br> Узнать подробнее о том, как ведется работа, можно <br> по телефону, электронной почте, в мессенджерах<br> и социальных сетях. Всегда рады вашим вопросам.

                </p>
            </div>
            <img class="method_img" src="{% static 'img/method.jpg' %}" alt="">
        </div>
    </section>

    <section id="result">
        <div class="result">
            <h2>Каждому важна результативность, поэтому я внимательно слежу за тем, чтобы: </h2>
            <div class="result_flex">
                <div class="result_box">
                    <img src="{% static 'img/icon/result_1.svg' %}" alt="">
                    <p>Вы ощущали полную безопасность, расслабленность при выражении своих чувств, мыслей, желаний. </p>
                </div>
                <div class="result_box">
                    <img src="{% static 'img/icon/result_2.svg' %}" alt="">
                    <p>Практиковались методы, научно доказавшие свою эффективность.</p>
                </div>
                <div class="result_box">
                    <img src="{% static 'img/icon/result_3.svg' %}" alt="">
                    <p>Соблюдались этические нормы и применялись рекомендованные профессиональные алгоритмы.</p>
                </div>
                <div class="result_box">
                    <img src="{% static 'img/icon/result_4.svg' %}" alt="">
                    <p>С помощью психодиагностических исследований оценивались промежуточные и конечные результаты консультирования.</p>
                </div>
                <div class="result_box">
                    <img src="{% static 'img/icon/result_5.svg' %}" alt="">
                    <p>Вы чувствовали, что вас поддерживают, помогают расслабиться и открыться.</p>
                </div>
                <div class="result_box">
                    <img src="{% static 'img/icon/result_6.svg' %}" alt="">
                    <p>В итоге остались довольны достигнутыми результатами.</p>
                </div>
            </div>

        </div>
    </section>
    <section id="helping">
        <div class="helping">
            <h2>Вы всегда можете рассчитывать<br> на помощь, если имеются: </h2>
            <div class="helping_flex">
                <div class="helping_box">
                    <p>Тяжелые психоэмоциональные состояния;</p>
                    <p>Конфликты в семье и предразводная ситуация;</p>
                    <p>Проблемы у детей и подростков с учебой или поведением;</p>
                    <p>Снижение доходов на фоне ухудшения<br> психологического состояния;</p>
                    <p>Сексуальная неудовлетворенность;</p>
                    <p>Чрезмерная чувствительность, сниженное настроение и работоспособность;</p>
                    <p>Трудности в общении с людьми: противоположным полом, коллегами, родственниками, друзьями;</p>
                </div>
                <div class="helping_box">
                    <p>Внутренние блоки, мешающие достижению целей;</p>
                    <p>Обиды, страхи, фобии, высокий уровень тревоги;</p>
                    <p>Агрессивность и деструктивные формы поведения, в т. ч. алкоголизм, наркомания, самоагрессия;</p>
                    <p>Нарушения мышления, спутанность мыслей;</p>
                    <p>Навязчивости и зависимости;</p>
                    <p>Ярко выраженные личностные особенности, трудности характера, мешающие жить;</p>
                    <p>телесные зажимы и психосоматика.</p>
                </div>
            </div>
        </div>
        <div class="faq">
            <span class="faq_span">часто задаваемые вопросы</span>
            <div class="faq_title">
                <h2>Семь самых популярных<br> вопросов клиентов </h2>
                <span class="warning">Если вы не нашли ответ на интересующий вопрос, свяжитесь, пожалуйста, со мной в удобном для вас мессенджере.</span>
            </div>
            <div class="accordion-container">
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">01.</span> Как проходит первичная консультация?</button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            Первичная встреча длится 1 час 20 минут и может проходить как в очном формате, так и удаленно. Личный прием проходит в уютном кабинете в центре Москвы на Цветном бульваре. Можно с уверенностью утверждать, что работа в кабинете проходит комфортнее и дает
                            результаты быстрее, чем консультирование по телефону или в мессенджере.
                        </p>
                    </div>
                </div>

                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">02.</span>Сколько понадобится посещений для<br> полного решения возникших проблем?</button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            На такой вопрос можно ответить только приблизительно. Часто клиент получает положительный результат уже после одной встречи, а бывает, что работает со специалистом три года и даже дольше. Как правило, первая, по большому счету диагностическая консультация
                            вызывает яркие эмоции, которые помогают человеку решить вопрос о дальнейшем продолжении общения и регулярности встреч. В среднем сеансы проходят 1–2 раза в неделю. Меньшее количество консультаций также возможно. Психолог озвучит
                            свои рекомендации, но, как и во всех других вопросах, окончательное решение остается за вами.
                        </p>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">03.</span>Можно ли оформить вызов на дом и<br> получить письменное заключение?
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            Можно. Цена таких услуг зависит от дальности поездки специалиста и целей официального заключения. Свяжитесь, пожалуйста, с нами. Мы расскажем обо всех условиях и ответим на дополнительные вопросы.
                        </p>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">04.</span>В рамках какой научной школы или направления<br> работает Алексей Александрович?
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            Можно. Цена таких услуг зависит от дальности поездки специалиста и целей официального заключения. Свяжитесь, пожалуйста, с нами. Мы расскажем обо всех условиях и ответим на дополнительные вопросы.
                        </p>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">05.</span>Что значит клинический психолог? Чем он отличается от <br>классического психолога, врача-психиатра и психотерапевта?</button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            Клинический психолог – это специалист с высшим психологическим образованием, который работает как со здоровыми людьми: детьми, взрослыми, семьями, – так и с теми, у кого есть то или иное психическое, неврологическое или другое заболевание. Клинический
                            психолог – это не врач. Он не ставит диагнозы и не прописывает медикаментозное лечение, но так же, как психиатр, хорошо разбирается в психиатрии, неврологии и, конечно, специальной психологии. В случае, если клинический психолог
                            заподозрит заболевание, он должен перенаправить клиента к врачу для получения дополнительной информации. Обращение к клиническому психологу дает больше преимуществ, чем к психологу без подобной специализации, поскольку позволяет
                            вам получить дополнительную информацию о состоянии своего здоровья и решить любые другие психологические вопросы.
                        </p>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">06.</span>Возможно ли получить консультацию удаленно через Zoom,<br> Telegram, Skype, WhatsApp или другой мессенджер?
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            Да, вы можете заказать удаленную консультацию практически через любой мессенджер. Однако обращаем внимание, что при общении в кабинете психолог получает гораздо больше данных о вас и вашей ситуации. Это достигается за счет сбора так называемой невербальной
                            информации. Многократно проверено: наличие видеосвязи помогает, но не делает удаленную консультацию равноценной классической встрече. Кроме того, часто дискомфорт вызывают банальные проблемы с техникой, качеством и скоростью
                            Интернета, присутствием дома родственников и т. д. Пожалуйста, заранее проверьте технику и наличие подключения к сети. Подготовьте тихое, изолированное помещение, удобное кресло или лучше диван. При возникновении проблем со
                            связью психолог сам будет вам перезванивать. Оплата услуг осуществляется путем перевода денежных средств на банковскую карту. Обычно удаленные консультации проводятся в первой половине дня.
                        </p>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger"><span class="num_faq">07.</span>Насколько анонимно ведется прием и может ли информация передаваться<br> другим людям, например сотрудникам государственных служб?
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p>
                            Вся работа проводится анонимно. Для записи вы можете придумать никнейм и использовать обезличенную электронную почту. Психолог и сотрудники кабинета сохраняют в тайне личную информацию своих клиентов. В этом большой плюс работы с частным специалистом,
                            который в первую очередь сосредоточен на интересах своих клиентов.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="price">
        <div class="price">
            <div class="price_title">
                <span class="faq_span">Индивидуальные и семейные консультации</span>
                <h2>Услуги и цены</h2>
            </div>

            <div class="price_flex">
                <div class="price_box">
                    <h6>Индивидуальная консультация</h6>

                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>5 000 ₽</h4>
                </div>
                <div class="price_box">
                    <h6>Семейная консультация</h6>

                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>5 000 ₽</h4>
                </div>
            </div>
            <div class="price_flex">
                <div class="price_box">
                    <h6>Абонемент<br> <span>5</span><br> консультаций</h6>

                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>23 750 ₽</h4>

                    <p>Специальное предложение </p>
                    <h4 class="green">Скидка 5%</h4>

                    <p>Ваша экономия</p>
                    <h4 class="green">1 250 ₽ </h4>
                </div>
                <div class="price_box">
                    <h6>Абонемент<br> <span>10</span><br> консультаций</h6>

                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>45 000 ₽</h4>

                    <p>Специальное предложение </p>
                    <h4 class="green">Скидка 10%</h4>

                    <p>Ваша экономия</p>
                    <h4 class="green">5 000 ₽ </h4>
                </div>
                <div class="price_box">
                    <h6>Абонемент<br> <span>15</span><br> консультаций</h6>
                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>63 750 ₽</h4>

                    <p>Специальное предложение </p>
                    <h4 class="green">Скидка 15%</h4>

                    <p>Ваша экономия</p>
                    <h4 class="green">11 250 ₽ </h4>
                </div>
            </div>
            <a href="https://psycabinet.ru/" class="green_btn green_btn_two">
                <div class="green_btn_cont">
                    <h2>Услуги смежных специалистов<br> для детей и подростков:</h2>
                    <p>Логопедов, дефектологов, нейропсихологов, арт-терапевтов.</p>
                </div>
                <img src="{% static 'img/icon/arrow-right.svg' %}" alt="Стрелка">
            </a>

            <div class="price_title">

                <h2>Вызов психолога на дом</h2>
            </div>

            <div class="price_flex price_flex_two">
                <div class="price_box">
                    <h6>Выезд в пределах МКАД</h6>

                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>10 000 ₽</h4>
                </div>
                <div class="price_box">
                    <h6>Выезд за МКАД</h6>

                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4><span>От</span> 12 000 ₽</h4>
                </div>
                <div class="price_box">
                    <h6>Психологическая диагностика </h6>
                    <span class="price_p">Выезд для проведения на дому
                        психологической диагностики
                        с официальным заключением</span>
                    <p>Длительность</p>
                    <h4>1 час 20 минут</h4>
                    <p>Стоимость</p>
                    <h4>Обсуждается лично</h4>
                </div>
            </div>

            <div class="price_title price_title_two">
                <h2>Психологическая диагностика<br> с официальным заключением</h2>
                <p>В стоимость входит первичная беседа, психологическая диагностика,<br> заключение на официальном бланке с печатью и подписью специалиста. </p>
            </div>
            <div class="price_flex">
                <div class="price_box price_box_two">
                    <h6>Патопсихологическая диагностика </h6>
                    <p class="price_p">по запросу врача-психиатра или невролога для уточнения диагноза<br> <a href="">Посмотреть пример</a> </p>

                    <div class="bottom_cont">
                        <p>Стоимость</p>
                        <h4>10 000 ₽</h4>
                    </div>
                </div>
                <div class="price_box price_box_two">
                    <h6>Нейропсихологическая диагностика </h6>
                    <p class="price_p"><a href="">Посмотреть пример</a> </p>

                    <div class="bottom_cont">
                        <p>Стоимость</p>
                        <h4>10 000 ₽</h4>
                    </div>
                </div>
            </div>
            <div class="price_flex">
                <div class="price_box price_box_two">
                    <h6>Заключение психолога для суда </h6>
                    <p class="price_p">
                        – исследование психологических характеристик семьи, особенностей детско-родительских отношений;<br><br> – диагностика личности, состояния интеллекта и когнитивных функций ребенка и взрослого;<br><br> – изучение психоэмоционального
                        состояния испытуемого после определенных событий, происшествия, травмы.<br><br>
                    </p>

                    <div class="bottom_cont">
                        <p>Стоимость</p>
                        <h4>20 000 ₽</h4>
                    </div>
                </div>
                <div class="price_flex price_flex_dic">
                    <div class="price_box price_box_two">
                        <h6>Изучение уровня и<br> структуры интеллекта</h6>
                        <p class="price_p"><a href="">Тест Векслера - посмотреть пример</a> </p>

                        <div class="bottom_cont">
                            <p>Стоимость</p>
                            <h4>10 000 ₽</h4>
                        </div>
                    </div>
                    <div class="price_box price_box_two">
                        <h6>Диагностика личности и эмоционально-волевой сферы</h6>

                        <div class="bottom_cont">
                            <p>Стоимость</p>
                            <h4>10 000 ₽</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price_flex">
                <div class="price_box price_box_two">
                    <h6>Заключение психолога</h6>
                    <p class="price_p">для прохождения медико-социальной <br> и военно-врачебной экспертизы<br> <a href="">Посмотреть пример</a> </p>

                    <div class="bottom_cont">
                        <p>Стоимость</p>
                        <h4>12 000 ₽</h4>
                    </div>
                </div>
                <div class="price_box price_box_two">
                    <h6>Тестирование сотрудников</h6>
                    <p class="price_p price_p_mb15">для решения кадровых вопросов, на соответствие предполагаемой/занимаемой должности,<br> профориентационных целей</p>

                    <div class="bottom_cont">
                        <p>Стоимость</p>
                        <h4>12 000 ₽</h4>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="bacgr">
        <section id="document">

            <div class="swiper myDocument">
                <div class="document_title">
                    <h2>Документы</h2>
                </div>
                <div class="swiper-wrapper swiper_doc">
                    <div class="swiper-slide"><img src="{% static 'img/doc/1.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/2.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/3.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/4.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/5.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/6.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/7.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/8.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/9.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/10.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/11.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/12.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/13.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/14.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/15.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/16.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/17.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/18.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/19.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/20.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/21.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/22.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/doc/23.jpg' %}" alt="" onclick="openModal(this.src)"></div>
                </div>



                <div class="swiper_btn swiper_btn_two">


                    <div class="swiper-button-prev"><svg class="news_svg news_svg_prev" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2929 13.7929C9.9024 14.1834 9.9024 14.8166 10.2929 15.2071C10.6834 15.5976 11.3166 15.5976 11.7071 15.2071L17.5 9.4142C18.281 8.6332 18.281 7.3668 17.5 6.5858L11.7071 0.79289C11.3166 0.40237 10.6834 0.40237 10.2929 0.79289C9.9024 1.18342 9.9024 1.81658 10.2929 2.20711L15.0858 7H1C0.44772 7 0 7.4477 0 8C0 8.5523 0.44772 9 1 9H15.0858L10.2929 13.7929Z" fill="#F7FBFA"/>
                            </svg></div>
                    <div class="swiper-button-next"><svg class="news_svg" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2929 13.7929C9.9024 14.1834 9.9024 14.8166 10.2929 15.2071C10.6834 15.5976 11.3166 15.5976 11.7071 15.2071L17.5 9.4142C18.281 8.6332 18.281 7.3668 17.5 6.5858L11.7071 0.79289C11.3166 0.40237 10.6834 0.40237 10.2929 0.79289C9.9024 1.18342 9.9024 1.81658 10.2929 2.20711L15.0858 7H1C0.44772 7 0 7.4477 0 8C0 8.5523 0.44772 9 1 9H15.0858L10.2929 13.7929Z" fill="#F7FBFA"/>
                                </svg></div>

                </div>
            </div>
        </section>
        <section id="awards">

            <div class="swiper myAwards">
                <div class="document_title">
                    <h2>Награды</h2>
                </div>
                <div class="swiper-wrapper swiper_awards">
                    <div class="swiper-slide"><img src="{% static 'img/awards/1.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/2.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/3.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/4.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/5.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/6.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/7.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/8.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/9.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/10.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/11.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/12.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/13.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/14.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/15.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/16.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/17.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/18.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/19.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/20.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/21.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/22.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/23.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/24.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/25.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/26.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/27.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                    <div class="swiper-slide"><img src="{% static 'img/awards/28.JPG' %}" alt="" onclick="openModal(this.src)"></div>
                </div>
                <div class="swiper_btn swiper_btn_two">


                    <div class="swiper-button-prev"><svg class="news_svg news_svg_prev" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2929 13.7929C9.9024 14.1834 9.9024 14.8166 10.2929 15.2071C10.6834 15.5976 11.3166 15.5976 11.7071 15.2071L17.5 9.4142C18.281 8.6332 18.281 7.3668 17.5 6.5858L11.7071 0.79289C11.3166 0.40237 10.6834 0.40237 10.2929 0.79289C9.9024 1.18342 9.9024 1.81658 10.2929 2.20711L15.0858 7H1C0.44772 7 0 7.4477 0 8C0 8.5523 0.44772 9 1 9H15.0858L10.2929 13.7929Z" fill="#F7FBFA"/>
                            </svg></div>
                    <div class="swiper-button-next"><svg class="news_svg" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2929 13.7929C9.9024 14.1834 9.9024 14.8166 10.2929 15.2071C10.6834 15.5976 11.3166 15.5976 11.7071 15.2071L17.5 9.4142C18.281 8.6332 18.281 7.3668 17.5 6.5858L11.7071 0.79289C11.3166 0.40237 10.6834 0.40237 10.2929 0.79289C9.9024 1.18342 9.9024 1.81658 10.2929 2.20711L15.0858 7H1C0.44772 7 0 7.4477 0 8C0 8.5523 0.44772 9 1 9H15.0858L10.2929 13.7929Z" fill="#F7FBFA"/>
                                </svg></div>

                </div>
            </div>
        </section>
    </div>
    <section id="reviews">
        <div class="reviews">
            <div class="reviews_title">
                <h2>Отзывы</h2>

                <span class="warning">Для просмотра отзывов специалиста кликните на логотип сервиса.</span>
            </div>
            <div class="reviews_flex">
                <a href="https://docdoc.ru/doctor/Kravchenko_Aleksey"><img src="{% static 'img/reviews_1.png' %}" alt="СБЕР Здоровье"></a>
                <a href="https://www.b17.ru/kravchenko30/"><img src="{% static 'img/reviews_2.png' %}" alt="b17.ru"></a>
                <a href="https://profi.ru/profile/KravchenkoAA9/"><img src="{% static 'img/reviews_3.png' %}" alt="profi.ru"></a>
            </div>
        </div>

    </section>
    <section id="contact">
        <div class="contact">
            <h2>Контакты</h2>
            <div class="cont_nav">
                <div class="pre_nav_box">
                    <a href="mail:kravchenko-aleksey@yandex.ru"><img src="{% static 'img/icon/loc_cont.svg' %}" alt="Почта">kravchenko-aleksey@yandex.ru</a>
                    <a href="https://yandex.ru/maps/-/CCUWyWc3hB"><img src="{% static 'img/icon/mail_cont.svg' %}" alt="Адрес">ул. Цветной бульвар, д.19, с.4, каб. 209</a>
                </div>
                <div class="soc_nav_box_content">
                    <div class="soc_nav_box">
                        <a href="https://wa.me/79299004555"><img src="{% static 'img/icon/whatsapp.svg' %}" alt="Whatsapp">Whatsapp</a>
                        <a href="https://t.me/+79263421041"><img src="{% static 'img/icon/telegram.svg' %}" alt="Telegram">Telegram</a>
                    </div>
                    <div class="soc_nav_box">
                        <a href="https://vk.com/akravchenkoru"><img src="{% static 'img/icon/vk.svg' %}" alt="Вконтакте">Вконтакте</a>
                        <a href="https://ok.ru/profile/579553265930"><img src="{% static 'img/icon/ok.svg' %}" alt="Одноклассники">Одноклассники</a>
                    </div>
                </div>
                <div class="tel_nav_box">
                    <a href="tel:+79263421041" class="tel_nav"><img src="{% static 'img/icon/call_red.svg' %}" alt="Телефон">+7 (926) 342-10-41</a>
                    <button class="call_btn openModal">Заказать звонок</button>
                </div>
            </div>
        </div>
    </section>
    <section id="map">
        <div class="map">
            <div style="position:relative;overflow:hidden;">
                <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=26060555631" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    <footer>

        <div class="info_block">
            <h2>Алексей Кравченко</h2>
            <h5>Психолог высшей<br> квалификационной категории</h5>

            <div class="mob_fot_none">
                <p>Наши партнеры: </p>
                <div class="info_link_flex">
                    <a href="psycabinet.ru">psycabinet.ru</a>
                    <a href="музейпсихологии.рф">музейпсихологии.рф</a>
                </div>
                <a class="polit" href="">Политика конфинденциальности</a>
            </div>
        </div>
        <div class="footer">
            <div class="sections_block">
                <h4>разделы</h4>

                <div class="sect_links">
                    <div class="sect_flex">
                        <a href="#tab_about">Обо мне</a>
                        <a href="#news">Новости</a>
                        <a href="#method">Методы работы</a>
                        <a href="#price">Услуги и цены</a>
                    </div>
                    <div class="sect_flex">
                        <a href="#document">Документы</a>
                        <a href="#awards">Награды</a>
                        <a href="#reviews">Отзывы</a>
                        <a href="#contact">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="sections_block sections_block2">
                <h4>Контакты</h4>

                <div class="contact_footer ">
                    <a href="mail:kravchenko-aleksey@yandex.ru"><img src="{% static 'img/icon/loc_cont.svg' %}" alt="Почта">kravchenko-aleksey@yandex.ru</a>
                    <a href="tel:+79263421041"><img src="{% static 'img/icon/call_cont.svg' %}" alt="Телефон"> +7 (926) 342-10-41</a>
                    <a href="https://yandex.ru/maps/-/CCUWyWc3hB"><img src="{% static 'img/icon/mail_cont.svg' %}" alt="Адрес">ул. Цветной бульвар, д.19, с.4, каб. 209</a>
                </div>
            </div>
            <div class="sections_block">
                <h4>Соц.сети</h4>

                <div class="contact_footer mob_cont_footer">
                    <a href="https://wa.me/79299004555"><img src="{% static 'img/icon/whatsapp.svg' %}" alt="Whatsapp">Whatsapp</a>
                    <a href="https://t.me/+79263421041"><img src="{% static 'img/icon/telegram.svg' %}" alt="Telegram">Telegram</a>
                    <a href="https://vk.com/akravchenkoru"><img src="{% static 'img/icon/vk.svg' %}" alt="Вконтакте">Вконтакте</a>
                    <a href="https://ok.ru/profile/579553265930"><img src="{% static 'img/icon/ok.svg' %}" alt="Одноклассники">Одноклассники</a>
                </div>
            </div>
            <div class="fot_none">
                <p>Наши партнеры: </p>
                <div class="info_link_flex">
                    <a href="psycabinet.ru">psycabinet.ru</a>
                    <a href="музейпсихологии.рф">музейпсихологии.рф</a>
                </div>
                <a class="polit" href="">Политика конфинденциальности</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</body>

</html>